<div class="container text-center">
  <h1><%= @round.start_up.company %></h1>
  <p id="wait_msg" data-users="<%= @round.game.users.size %>">Waiting for <%= pluralize(@round.game.users.size, 'answer') %></p>
  <% Round::CATEGORIES.each do |category| %>
  <div class="post-it">
    <p><strong><%= category %></strong></p>
    <% if @round.guess_category == category %>
      <% unless @round.answers.pluck(:user_id).include?(session[:user_id]) %>
        <%= simple_form_for [@round, @answer] do |f| %>
          <%= f.input :content, label: false %>
          <%= f.submit 'Submit answer', id:'submit_answer', class: "btn btn-three" %>
        <% end %>
      <% end %>
    <% else %>
      <p class="white">
        <%= @round.start_up.send(category) %>
      </p>
    <% end %>
    <%=  %>
  </div>
  <% end %>

  <ul id="answer_section">
    <% @round.answers.each do |answer| %>
      <li id="answer-<%= answer.id %>"><%= answer.content %> - <%= answer.votes.size %> Votes <%= link_to 'Vote', vote_answer_path(answer), class: 'vote_btn', method: :post, remote: true unless answer.user == @user || answer.votes.map(&:user).include?(@user) %></li>
    <% end %>
  </ul>
</div>
<script>
    var channel = pusher.subscribe('answer-channel');
    channel.bind('new-answer', (data) => {
        let missing = data.missing;
        document.getElementById('answer_content').value = '';
        let currentUser = <%= session[:user_id] %>;
        let answerUser = data.user;
        if (currentUser === answerUser) {
          document.getElementById('new_answer').remove();
        }
        let userCount  = parseInt(document.getElementById('wait_msg').getAttribute('data-users'), 10);
        let missingAnswers = userCount - missing;
        if (missingAnswers === 1) {
          document.getElementById('wait_msg').innerHTML = `<p>Waiting for ${missingAnswers} answer</p>`;
        } else {
          document.getElementById('wait_msg').innerHTML = `<p>Waiting for ${missingAnswers} answers</p>`;
        }
        if (userCount === missing) {
          window.location.href = '/games/<%= @round.game.id %>/rounds/<%= @round.id %>/result';
        }
    });
</script>
