<div class="container">
  <p id="wait_msg" data-users="<%= @round.game.users.size %>">Waiting for <%= pluralize(@round.game.users.size, 'answer') %></p>
  <p>Guess the <%= @round.guess_category %> for <%= @round.start_up.company %></p>
  <% unless @round.answers.pluck(:user_id).include?(session[:user_id]) %>
    <%= simple_form_for [@round, @answer] do |f| %>
      <%= f.input :content %>
      <%= f.submit 'guess', id:'submit_answer' %>
    <% end %>
  <% end %>
  <ul id="answer_section">
    <% @round.answers.each do |answer| %>
      <li id="answer-<%= answer.id %>"><%= answer.content %> - <%= answer.votes.size %> Votes <%= link_to 'Vote', vote_answer_path(answer), class: 'vote_btn', method: :post, remote: true unless answer.user == @user || answer.votes.map(&:user).include?(@user) %></li>
    <% end %>
  </ul>
</div>
<script>
    var channel = pusher.subscribe('answer-channel');
    channel.bind('new-answer', (data) => {
        let missing = data.missing;
        document.getElementById('answer_content').value = '';
        document.getElementById('new_answer').remove();
        let userCount  = parseInt(document.getElementById('wait_msg').getAttribute('data-users'), 10);
        let missingAnswers = userCount - missing;
        if (missingAnswers === 1) {
          document.getElementById('wait_msg').innerHTML = `<p>Waiting for ${missingAnswers} answer</p>`;
        } else {
          document.getElementById('wait_msg').innerHTML = `<p>Waiting for ${missingAnswers} answers</p>`;
        }
        if (userCount === missing) {
          window.location.href = '/games/<%= @round.game.id %>/rounds/<%= @round.id %>/result';
        }
    });
</script>
